<label for="" class="first-name">First Name:</label>
<input type="text" class="first-name-input" required autofocus>
<label for="" class="first-name">Last Name:</label>
<input type="text" class="last-name-input" required>
<label for="" class="first-name">Address:</label>
<input type="text" class="address-input" required>
<label for="" class="first-name">Phone Number:</label>
<input type="text" class="phone-number-input" required>
<button type="submit" class="person-submit"><i class="fa fa-plus-circle"></i></button>