#app {
	background-color: $main-background;
	height: 100%;
	padding-top: 12%;
}

label, input, button {
	display: block;
	font-size: 1.2em;
}

.add-person-form {
	background-color: $foreground;
	border-radius: 3px;
	margin: auto;
	padding: 1em 2em;
	width: 40%;
	@include clearfix;
}

label {
	margin-bottom: .2em;
}

input {
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
	margin-bottom: .5em;
	padding: .2em;
	width: 100%;
}

button {
	background-color: $main-background;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .6);
	color: white;
	float: right;
	font-size: 2em;
	height: 50px;
	width: 80px;
}

button:hover {
	background-color: rgb(20, 71, 122);
	color: $foreground;
}